li {
  color: green; 
  }
h1 {font-family: Palatino, 'Palatino Linotyp', serif;
  color: black;
	font-size: 32px;
  }

h2 {font-family: Palatino, 'Palatino Linotyp', serif;
  color: black;
	font-size: 32px;
}
#overview { 
	color: green;
	
	
}
